version: '3.8'

services:
  jenkins-master:
    build:
      context: .
      dockerfile: Dockerfile.jenkins
    container_name: jenkins-master
    privileged: true
    user: root
    ports:
      - "8086:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ..:/workspace
    networks:
      - buy-01-network
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=true

volumes:
  jenkins_home:
    driver: local

networks:
  buy-01-network:
    external: true
