server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        # --- User Service Routes ---
        - id: user-service-actuator
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/users/actuator/**
          filters:
            - RewritePath=/api/users/(?<segment>.*), /$\{segment}

        - id: user-service-api
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/auth/**, /api/users/**
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment}

        # --- Product Service Routes ---
        - id: product-service-actuator
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/api/products/actuator/**
          filters:
            - RewritePath=/api/products/(?<segment>.*), /$\{segment}

        - id: product-service-api
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/api/products/**
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment}

        # --- Media Service Routes ---
        - id: media-service-actuator
          uri: lb://MEDIA-SERVICE
          predicates:
            - Path=/api/media/actuator/**
          filters:
            - RewritePath=/api/media/(?<segment>.*), /$\{segment}

        - id: media-service-api
          uri: lb://MEDIA-SERVICE
          predicates:
            - Path=/api/media/**
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment}

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true
            maxAge: 3600
          

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost