server:
  port: 8443

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        # --- User Service Routes ---
        - id: user-service-actuator
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/users/actuator/**
          filters:
            - RewritePath=/api/users/(?<segment>.*), /$\{segment}

        - id: user-service-api
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/auth/**, /api/users/**
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment}

        # --- Product Service Routes ---
        - id: product-service-actuator
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/api/products/actuator/**
          filters:
            - RewritePath=/api/products/(?<segment>.*), /$\{segment}

        - id: product-service-api
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/api/products/**
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment}

        # --- Media Service Routes ---
        - id: media-service-actuator
          uri: lb://MEDIA-SERVICE
          predicates:
            - Path=/api/media/actuator/**
          filters:
            - RewritePath=/api/media/(?<segment>.*), /$\{segment}

        - id: media-service-api
          uri: lb://MEDIA-SERVICE
          predicates:
            - Path=/api/media/**
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment}

    globalcors:
      corsConfigurations:
        '[/**]': # Applies to all paths
          allowedOrigins: "*" # for dev only: Allows requests from any origin; replace with explicit domain from where CORS requests are allowed to originate.
          allowedHeaders: # "*" Allows all headers.
            - "Content-Type"
            - "Authorization"
          allowedMethods:
            - "GET"
            - "POST"
            - "PUT"
            - "DELETE"
          allowCredentials: true # Allows cookies and other credentials to be included in cross-origin requests.
          maxAge: 30 # specifies the maximum time (in seconds) that the browser should cache the preflight response.
          

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost