server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**
            - Path=/api/user/**
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/api/products/**
            - Path=/api/product/**
        - id: media-service
          uri: lb://media-service
          predicates:
            - Path=/api/media/**
            - Path=/api/medias/**
    globalcors:
      corsConfigurations:
        '[/**]': # Applies to all paths
          allowedOrigins: "*" # for dev only: Allows requests from any origin; replace with explicit domain from where CORS requests are allowed to originate.
          allowedHeaders: # "*" Allows all headers.
            - "Content-Type"
            - "Authorization"
          allowedMethods:
            - "GET"
            - "POST"
            - "PUT"
            - "DELETE"
          allowCredentials: true # Allows cookies and other credentials to be included in cross-origin requests.
          maxAge: 30 # specifies the maximum time (in seconds) that the browser should cache the preflight response.

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost